{% extends "admin/base.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='js/ext/simditor/site/assets/styles/simditor.css')}}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='js/ext/simditor/fullscreen/styles/simditor-fullscreen.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='js/ext/simditor/emoji/styles/simditor-emoji.css') }}" />
<link rel="stylesheet" href="{{ url_for('static',filename='js/ext/simditor/html/styles/simditor-html.css') }}" media="screen" charset="utf-8" />

<script type="text/javascript" src="{{ url_for('static',filename='js/ext/simditor/site/assets/scripts/module.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static',filename='js/ext/simditor/site/assets/scripts/hotkeys.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/ext/simditor/site/assets/scripts/adminuploader.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/ext/simditor/site/assets/scripts/simditor.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/ext/simditor/fullscreen/lib/simditor-fullscreen.js') }}"></script>
<script src="{{ url_for('static',filename='js/ext/simditor/emoji/lib/simditor-emoji.js') }}"></script>
<script src="{{ url_for('static',filename='js/ext/simditor/beautify-html/js/lib/beautify.js') }}"></script>
<script src="{{ url_for('static',filename='js/ext/simditor/beautify-html/js/lib/beautify-css.js') }}"></script>
<script src="{{ url_for('static',filename='js/ext/simditor/beautify-html/js/lib/beautify-html.js') }}"></script>
<script src="{{ url_for('static',filename='js/ext/simditor/html/lib/simditor-html.js') }}"></script>

{% endblock %}
{% block page_content %}
<form action="{% if blog %} {{ url_for('admin.updblog',id=blog.id) }} {% else %}{{ url_for('admin.addblog') }}{% endif %}" method="post">
    <div class="row clear">
        <div class="col-md-8">
            <div class="data-one">
                <label for="title">文章标题：</label>
                <div id="title_block" class="title_block laser">
                    <input class="title" id="title" name="title" onfocus="Ad.ShowLaserBean();return false;" onblur="Ad.HideLaserBean();return false;" placeholder="无标题博客" value="{% if blog %}{{ blog.title }} {% endif %}"/>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="data-two">
                <label for="btype">文章类型：</label>
                <select id="btype" name="btype" class="form-control" style="width: 200px;height: 40px;">
                    <option value="0">技术学习</option>
                    <option value="1">日记</option>
                    <option value="2">生活</option>
                    <option value="3">未知</option>
                </select>
            </div>
        </div>
    </div>
    <div class="data-three">
        <label for="blog_body">文章主体：</label>
        <div class="editor">
            <textarea id="blog_body" name="blog_body" style="width:100%;" placeholder="请输入内容..." autofocus>
                {% if blog %}
                {{blog.blog_body}}
                {% endif %}
            </textarea>
        </div>
    </div>
    <div class="data-four">
        <label>标签：</label>
        <div class="tags">

        </div>
    </div>
    <div class="data-five">
        <label for="see">是否登录后才可见：</label>
        <select name="is_show_all" id="is_show_all" class="form-control" style="width: 150px;">
            <option value="0">所有人可见</option>
            <option value="1">仅登录可见</option>
        </select>
    </div>
    <div class="part-last">
        {% if blog %}
        <button name="sub" id="sub" class="btn btn-danger">确认修改</button>
        {% else %}
        <button name="sub" id="sub" class="btn btn-primary">确认发布</button>
        {% endif %}
    </div>
</form>
{% endblock %}

{% block scripts %}
{{super()}}
<script>
    $(function () {
        Ad.createEditor();
    })
</script>
{% endblock %}