{% extends "base.html" %}
{% block title %}{{ super() }}-{{ blog.title }}{% endblock %}
{% block head %}
    {{ super() }}
    <style>
    .blog-info{margin: 0 10px;background-color: #EFEFEF;box-sizing: border-box;}
    .title{background-color: rgba(225,220,225,0.5);line-height: 45px;color: #333;text-align: center;margin-bottom: 10px;font-size: 21px;font-weight: bold;border-left: 5px solid #009b95;}
    .uinfo{margin: 0 30px;border: 1px dashed #9E792E;text-align: center;line-height: 30px;font-size: 12px;}
    .main{background-color: #FFF;margin: 20px 10px;padding: 20px 10px 100px 10px;word-break: break-all}
    .comment{border-top: 1px solid #bbb;min-height: 100px;padding: 10px;color: #a61717}
    </style>
{% endblock %}
{% block page_content %}
    <div class="blog-info">
        <ol class="breadcrumb">
            <li><a href="{{ url_for('main.index') }}">首页</a></li>
            <li class="active">博文详情</li>
        </ol>
        <div class="title">
            {{ blog.title }}
        </div>
        <div class="uinfo">
            笔者：{{ blog.author.username }}
            &nbsp;
            写于：{{ moment(blog.created_at).format("YYYY-MM-DD HH:mm") }}
        </div>
        <div class="main">
            <p>{{ blog.blog_body|safe }}</p>
        </div>
        <div class="comment">
            评论什么的~暂时没有啦
        </div>
    </div>
{% endblock %}