{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}
<!--super 获取模板本来就存在的内容-->
{% block head %}{{ super() }} <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}"/> {% endblock %}
{% block title %}{{ super() }}-2010{% endblock %}
{% block page_content %}
    {% for blog in blogs %}
        <div class="blog" onmouseover="$(this).addClass('checked')" onmouseleave="$(this).removeClass('checked')">
            <div class="top_line">
                <span class="title">{{ blog.title }}</span>
                <span class="time">{{ blog.created_at }}</span>
            </div>
            <div class="main">
                {{ blog.blog_body_short }}...
            </div>
            <div class="bottom_line">
                <span class="more">
                    <a href="{{ url_for('main.blog',blog_id=blog.id) }}"> 更多></a>
                </span>
            </div>
        </div>
    {% endfor %}
    <div class="pagination">
        {{ macros.pagination_widget(pagination,'.index') }}
    </div>

{% endblock %}